*{
    padding: 0;
    margin: 0;
}

body{
   margin: 10%;
   background-color: rgb(221, 221, 221);
}

h1{
    text-align: center;
}

h3{
    margin-top: 3%;
    margin-bottom: 3%;
}

.cal{
    width: 80%;
    height: 20vh;
    background-color: #fff;
}

#calout{
    width:100%;
    height: 10vh;
}

.Table{
    width: 100%;
    height: 75%;
}

.but button{
    width: 10%;
    cursor: pointer;
    margin-left: 12%;
}